name: Update Changelog

on: 
  pull_request:
    types: [opened, reopened]
    
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set env
        run: echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV

      - name: Run Changelog CI
        uses: saadmk11/changelog-ci@v1.0.0
        with:
          release_version: ${{ env.RELEASE_VERSION }}
          config_file: changelog-ci-config.yaml
          github_token: ${{ secrets.OUR_GITHUB_TOKEN }}
