name: Update Changelog

on:
  pull_request:
    types: [opened, reopened]
    
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Checks-out your repository
      - uses: actions/checkout@v2

      - name: Run Changelog CI
        uses: saadmk11/changelog-ci@v0.5.0
        with:
          # Optional, you can provide any name for your changelog file.
          changelog_filename: CHANGELOG.md
          # Optional, only required when you want more customization
          config_file: changelog-ci-config.json
        env:
          # Optional, Only required for ``private`` repositories
          # and required if the changelog comment 
          # option is turned on through the config file
          GITHUB_TOKEN: ${{secrets.OUR_GITHUB_TOKEN}}
