name: Update Hotfix Master
on:
  push:
    branches:
      - 'hotfix/*'
jobs:  
   merge-master:
     runs-on: ubuntu-latest
     steps:
      - uses: actions/checkout@master

      - name: Merge hotfix -> master
        uses: devmasx/merge-branch@master
        with:
          type: now
          target_branch: master
          github_token: ${{ github.token }}
   
